@import url('./base.scss');

body {
  font-size: 28rpx;
  color: #FFFFFF;
  font-family: "微软雅黑";
  width: 100%;
  position: fixed;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #0E1E2D;
  position: relative;
  overflow-y: auto;
}

.main {
	width: calc(100% - 80rpx);
	margin: 0 40rpx;
}